<h1>YOU HAVE ENTERED THE CRADLE, BEGIN YOUR LOOP</h1>


<% if (payload.length > 0) { %>
    <h1>Here are the available hosts</h1> 
    <ul>
        <% payload.forEach(h => { %>
        <li><a href='/hosts/<%= h.id %>'><%= h.name %></a></li>
        <% }) %> 
    </ul>

<% } else { %>
    <%= status %>
    <h1>CRADLE DESTROYED</h1> 
<% } %>


